<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>OneVille - {% block pagetitle %}{% endblock %}</title>

  <!-- Style Section -->
  <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen, projection" />

  <!-- Script Section -->
  <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/static/js/excanvas.js"></script><![endif]-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" language="javascript" type="text/javascript"></script>
  {% block javascript_extra %}
  {% endblock %}

</head>

<body>
<div id="container">
  <div id="header" >
    <h1><a href='/' title="SchoolDash Home">SchoolDash</a></h1>
    <div id='tagline'>At-a-glance education information</div>
    <ul id="navigation">
      {% if user and not user.is_anonymous %}
        <li>Username!</li>
        <li>logout</li>
      {% else %}
        <li><a href="">login</a></li>
        <li><a href="">about</a></li>
        <li><a href="">help</a></li>
      {% endif %}
    </ul><!-- #user_nav -->
    <h2>{% block school %}Arthur D. Healey School{% endblock %}</h2>
  </div> <!-- #header -->

  <div id="content">
    <h2>{% block title %}{% endblock %}</h2>
    {% block content %}

    {% endblock %}
  </div> <!-- #content  -->

</div> <!-- .container -->

</body>
</html>
