{% extends '_base.html' %}

{% block pagetitle %}All Students{% endblock %}
{% block title %}All Students{% endblock %}

{% block javascript_extra %}
<!-- local javascript -->
  <!-- sort tables by their contents, jquery plugin -->
  <script src="/static/js/jquery.tablesorter.min.js" language="javascript" type="text/javascript"></script>
  <!-- graph student data -->
  <script src="/static/js/jquery.jqplot.min.js" language="javascript" type="text/javascript" ></script>
  <script src="/static/js/plugins/jqplot.canvasTextRenderer.min.js" language="javascript" type="text/javascript" ></script>
  <script src="/static/js/plugins/jqplot.canvasAxisLabelRenderer.min.js" language="javascript" type="text/javascript" ></script>

  <!-- jquery color operations -->
  <script src="/static/js/jquery.xcolor.js" language="javascript" type="text/javascript" ></script>

  {#TODO: The way I should do this, is pass columnN, min, max to a generator, create one loop over the tr's and change the columnNs #}
  <script type="text/javascript">
  function shade_column(column, min, max){

  };
  $(document).ready(function() {
    // Turn on the table sorting function
    $(".tablesorter").tablesorter();
    // Colorize the background of the attendance cell based on the att %
    $("table tr").each( function() {
      // Attendance //
      // Find the attendance value, and double the variance (100 +- 10 > 50 +- 10)
      var column_4 = $(this).find('td').eq(4);
      // Take that value 1-50, and color the result
      var color = $.xcolor.gradientlevel('#F70207', '#02CF02', column_4.text() - 50 , 50);
      $(column_4).css("background", color);
      // Tardies //
      var column_5 = $(this).find('td').eq(5);
      var color = $.xcolor.gradientlevel('#02CF02', '#F70207', column_5.text() , 10);
      $(column_5).css("background", color);
      // MCAS Math //
      var column_9 = $(this).find('td').eq(9);
      var color = $.xcolor.gradientlevel('#F70207', '#02CF02', column_9.text() - 200, 80);
      $(column_9).css("background", color);
      // MCAS ELA //
      var column_10 = $(this).find('td').eq(10);
      var color = $.xcolor.gradientlevel('#F70207', '#02CF02', column_10.text() - 200, 80);
      $(column_10).css("background", color);
      // MAP Lang //
      var column_11 = $(this).find('td').eq(11);
      var color = $.xcolor.gradientlevel('#F70207', '#02CF02', column_11.text() - 150, 100);
      $(column_11).css("background", color);
      // MAP Math //
      var column_12 = $(this).find('td').eq(12);
      var color = $.xcolor.gradientlevel('#F70207', '#02CF02', column_12.text() - 150, 100);
      $(column_12).css("background", color);

      });
    }
  );

  </script>

{% endblock %}

{% block content %}
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est</p>
  <table class="tablesorter">
  {# TODO: make values sort non alphabitically Language should sort: Fluent, Limited, FLEP, FLEP-Optout #}
    <thead><tr>
      <th class='left'><span title="Student's full name, and gender">Student Name</span></th>
      {#<th><span title="Gender">G</span></th>#}
      <th>Grade</th>
      <th><span title="Years student has been at the Healey">Y&nbsp@&nbspH</span></th>
      <th>Room</th>
      <th><span title="Days Absent this Quarter">Abs</span></th>
      <th><span title="Generated Data: Days Tardy this Quarter">Tardy</span></th>
      <th><span title="Language spoken in the home">Language</span></th>
      <th><span title="English Language Fluency">Fluency</span></th>
      <th> <span title="Test: Dynamic Indicators of Basic Early Literacy Skills">
          DIEBELS
      </span> </th>
      <th> <span title="Change since the last time the test was taken">
        MCAS&nbspMath
      </span> </th>
      <th> <span title="Change since the last time the test was taken">
        MCA&nbspELA
      </span> </th>
      <th> MAP Lang </th>
      <th> MAP Math </th>
      <th><span title="Where the student lives">
        Ward
      </span></th>
      <th><span title="Free/Reduced Lunch">
        FRL
      </span></th>
      <th><span title="Individualized Education Plan">
        IEP
      </span></th>
      <th> <span title="Massachusetts English Proficiency Assessment">
        MEPA
      </th>
      <th class='left'> <span title="What afterschool programs?">
        Afterschool
      </span> </th>
    </tr></thead>
    <tbody>
      {% for student in students_all %}
      <tr>
        <td class='left'>{{ student.data.lname }}, {% if student.data.mname == '\N' %}{% else %} {{ student.data.mname|first }}.{% endif %} {{ student.data.fname }} &nbsp;
          {% if student.data.gender == 'F' %}<span title="Female">♀</span> {# &#9792; #}
          {% else %}<span title="Male">♂</span> {# &#9794; #}
          {% endif %}
        </td>
        <td>{{ student.data.grade_level }}</td>
        <td> <span
          title="Has been at the Healey for {{ student.data.years_at }} years.  Enrolled {{ student.data.entry_date }} {% if student.data.exit_date %} Withdrawn {{ student.data.exit_date }} with code {{ student.data.widrawl }} {% endif %}"
          >
              {{ student.data.years_at }}
          </span>
        </td>
        <td>{{ student.data.homeroom }}</td>
        <td class="
          {% if student.data.attendance > 9 %} warn {% endif %}
          ">
          {{ student.data.attendance }}
        </td>
        <td class="
          {% if student.tardy > 9 %} warn {% endif %}
          ">
          <span title="Randomly generated data.">
          {{ generated_values.tardies|random }}
          </span>
        </td>
        <td class="
            {% if student.data.home_lang == 'Spanish' %}          teal  {% endif %}
            {% if student.data.home_lang == 'Portuguese' %}       dblue {% endif %}
            {% if student.data.home_lang == 'English' %}          purp  {% endif %}
            {% if student.data.home_lang == 'Creole(Haitian)' %}  brown {% endif %}
            ">
          {% if student.data.home_lang == 'Creole(Haitian)' %}
            Hatian
          {% else %}
            {% if student.data.home_lang == 'Punjabi / Panjabi' %}
              Punjabi
            {% else %}
              {{ student.data.home_lang }}
            {% endif %}
          {% endif %}
        </td>
        {# Language Level #}
        {# TODO: Provide codes for FLEP levels #}
        <td class=" " > {{ student.data.lang_level }} </td>
        <td> {# DIEBELS test #}
          {% if student.tests.diebels %}
            <span title="Previous DIEBELS test results {{ student.tests.diebels.1.result }}">
              {{ student.tests.diebels.0.result|first }}
            </span>
          {% endif %}
        </td>
        {# MCAS Math scores #}
        <td class=" ">
          {% if student.tests.math.0.raw_score != 'None' %}
            {{ student.tests.math.0.raw_score }}
          {% endif %}
        </td>

        {# MCAS Reading scores #}
        <td class=" ">
          {% if student.tests.ela.0.raw_score != 'None' %}
            {{ student.tests.ela.0.raw_score }}
          {% endif %}
        </td>

        {# Test: MAP Language #}
        <td class="">
          {{ student.tests.map_lang.0.score }}
        </td>

        {# Test: MAP Math #}
        <td class="">
          {{ student.tests.map_math.0.score }}
        </td>

        {# Ward #}
        <td>{{ generated_values.ward|random }}</td>

        {# FRL #}
        <td>
        {% if student.data.frl == "Not Eligible" %}
          Not
        {% endif %}
        {% if student.data.frl == "Free Lunch" %}
          Free
        {% endif %}
        {% if student.data.frl == "" %}
          Reduced
        {% endif %}
        </td>

        {# IEP #}
        <td class="
            {% if student.iep %}#ddd;{% endif %}
            {% if not student.iep %}#eee;{% endif %}
          ">
          {% if student.data.iep == '\N' %}
          {% else %}
            {% if student.data.iep == "Substantially Separate" %}
              <span title="Substantially Separate">SS</span>
            {% endif %}
            {% if student.data.iep == "Private Separate" %}
              <span title="Private Separate">PS</span>
            {% endif %}
            {% if student.data.iep == "Partial Inclusion" %}
              <span title="Partial Inclusion">PI</span>
            {% endif %}
            {% if student.data.iep == "Full Inclusion" %}
              <span title="Full Inclusion">Full</span>
            {% endif %}
            {% if student.data.iep == "Compl Goals" %}
              <span title="Compl Goals">CG</span>
            {% endif %}
          {% endif %}
        </td>

        {# MEPA #}
        {# TODO: generate fake MEPA data #}
        <td class="
        {% if student.data.lang_level == "Fluent" %}
          ">
        {% else %}
        <!-- if Ell, MEPA -->
            {% if student.generated.mepa_r %}
              {% if student.generated.mepa_r < 11 %} warn {% endif %}
              {% if student.generated.mepa_w < 11 %} warn {% endif %}
            {% endif %}
          ">
          {% if student.generated.mepa_r %}
            <span title="Randomly generated data: MEPA Reading Score of {{ student.generated.mepa_r }} / 30">
              R{{ student.generated.mepa_r }}
            </span>
             /
            <span title="Randomly generated data: MEPA Writing Score of {{ student.generated.mepa_w }} / 30">
              W{{ student.generated.mepa_w }}
            </span>
          {% endif %}
        {% endif %}
        </td>

        {# Afterschool programs #}
        <td class='left'>
          <span title="Randomly generated data.">
          {% for program in student.generated.afterschool %}
            {{ program }}
          {% endfor %}
          </span>
        </td>

      </tr>
    {% endfor %}
  </tbody>
</table>
{% comment %}
<!-- Start graph section -->
<script type="text/javascript">

    mcasd = [
      { data:
        {% autoescape off %}
            {{ graphs.mcasxy }}
        {% endautoescape %}
       , points: { symbol: "circle" }
       }];

    mcaso = {
      series: { points: { show: true, radius: 3 } },
      axis: {
          xaxis:{
              label:'MCAS ELA',
              labelRenderer: $.jqplot.CanvasAxisLabelRenderer
              },
          yaxis:{
              label:'MCAS Math',
              labelRenderer: $.jqplot.CanvasAxisLabelRenderer
              },
          }
    };

    lang_data = [
        {data: [
        {% for key,value in graphs.languages.items %}
          [{{ forloop.counter }}, '{{ value }}'],
        {% endfor %}
        ]}
      ];

    lang_options = {
      series: {
        bars:  {
          show:      true,
          barWidth:  0.9,
          align:     'center',
        },},
      xaxis: {
        ticks: [
        {% for key,value in graphs.languages.items %}
          [{{ forloop.counter }}, '{{ key }}'],
        {% endfor %}
        ]}
    };

    iep_data = [
        {data: [
        {% for key,value in graphs.iep.items %}
          [{{ forloop.counter }}, {{ value }}],
        {% endfor %}
        ]}
      ];

    iep_options = {
      series: {
        bars:  {
          show:      true,
          barWidth:  0.9,
          align:     'center',
        },},
      xaxis: {
        ticks: [
        {% for key,value in graphs.iep.items %}
          [{{ forloop.counter }}, '{{ key }}'],
        {% endfor %}
        ]}
    };


    frl_data = [
        {data: [
        {% for key,value in graphs.frl.items %}
          {% if value in frl_options %}
              [{{ forloop.counter }}, {{ value }}],
          {% else %}
              [{{ forloop.counter }}, "None"],
          {% endif %}
        {% endfor %}
        ]}
      ];

    frl_options = {
      series: {
        bars:  {
          show:      true,
          barWidth:  0.9,
          align:     'center',
        },},
      xaxis: {
        ticks: [
        {% for key,value in graphs.frl.items %}
          [{{ forloop.counter }}, '{{ key }}'],
        {% endfor %}
        ]}
    };


  $(function () {
    $.plot($("#placeholder"),  mcasd, mcaso);
  });
</script>

<div id="graphs" class="grid_16">

  <div id="buttons" class="grid_3">
    <ul>
      <li>
        <script type="text/javascript">
          function clear_graph() {
            $.plot($('#placeholder'), [])
          };
        </script>
        <a href="#clear" onclick="clear_graph()">clear</a>
      </li>
      <li>
        <script type="text/javascript">
          function lang_graph() {
            $.plot($("#placeholder"),  lang_data, lang_options);
          };
        </script>
        <a href="#language" onclick="lang_graph()">language</a>
      </li>
      <li>
        <script type="text/javascript">
          function mcas_graph() {
            $.plot($('#placeholder'), mcasd, mcaso)
          };
        </script>
        <a href="#mcas" onclick="mcas_graph()">MCAS: Math x ELA</a>
      </li>
      <li>
        <script type="text/javascript">
          function iep_graph() {
            $.plot($('#placeholder'), iep_data, lang_options)
          };
        </script>
        <a href="#iep" onclick="iep_graph()">Graph IEP</a>
      </li>
      <li>
        <script type="text/javascript">
          function frl_graph() {
            $.plot($('#placeholder'), frl_data, lang_options)
          };
        </script>
        <a href="#frl" onclick="frl_graph()">Graph FRL</a>
      </li>
  </div>

  <div class="jqplot-xaxis-label"></div>
  <div id="placeholder" class="grid_10 prefix_1" style='height:600px; width:900px;'></div>
  <!-- End graph section -->
</div> <!-- graphs -->
<div class="jqplot-yaxis-label"></div>
{% endcomment %}


{% endblock %}
